.fade-carousel .slides .slide-1 {
  background-image: url(../images/home1.gif); opacity: 1; 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/home2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/home3.jpg);
}

@media only screen and (max-device-width: 480px) {
		#myCarousel {
			width: 400px;
			height: 100px;
		}
}