.fade-carousel .slides .slide-1 {
  background-image: url(../images/ser1.jpg); opacity: 1; 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/ser2.jpg); opacity: 1;
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/ser3.jpg); opacity: 1;
}
/*.lead {
	text-align: justify;
    text-justify: inter-word;
}*/
p {
	text-align: justify;
    text-justify: inter-word;
}
h2 {
	color: red;
}
.icon{
	border: 2px solid #a1a1a1;
    background: #ecf0f1;
    padding: 18px;
    width :100px;
    height : 100px;
    border-radius: 50%;
}
#top {
	position: fixed;
    bottom: 30px;
    right: 30px;
}


  .dropbtn {
    background-color: #005584;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
      background-color: #005584;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
